* {
    background-color: rgb(62, 28, 28);
    color: pink;
    border-radius: 10px;
    font-family: "Times New Roman", serif;
}

html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }


h1 {
    text-align: center;
    font-family: "Times New Roman", serif;
    margin-top: 90px;
    margin-bottom: 20px;
}

img {
   display: block;
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: auto;
   margin-right: auto;
}

li {
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    font-family: "Times New Roman", serif;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: #fff;
    cursor: pointer;
  }